<nav>
<div class="sidebar">
    <div class="logo-details">
      <i class='bx bx-code-alt'></i>
      <a href="/wel"><span class="logo_name">EMS</span></a>
    </div>
    <ul class="nav-links">
      <li>
        <a href="/dashboard">
          <i class='bx bx-grid-alt' ></i>
          <span class="link_name">Dashboard</span>
        </a>
      </li>
      <li>
        <div class="icon-link">
          <a href="#">
            <i class='bx bx-user'></i>
            <span class="link_name">Employee</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">User</a></li>
          <li><a href="/createuser">Add Employee</a></li>
          <li><a href="/manageuser">Manage Employee</a></li>
        </ul>
      </li>
      <li>
        <div class="icon-link">
          <a href="/department">
            <i class='bx bx-desktop'></i>
            <span class="link_name">Department</span>
          </a>
        </div>
      </li>
      <li>
        <a href="/salary">
          <i class='bx bxs-wallet-alt'></i>
          <span class="link_name">Salary</span>
        </a>
      </li>
    <div class="profile-details">
      <div class="profile-content">
        <img src="Images/profile.png" alt="profileImg">
      </div>
      <div class="name-job">
        <div class="profile_name">Admin</div>
        <div class="job">NodeJS Developer</div>
      </div>
      <a href="/"><i class='bx bx-log-out'></i></a>
    </div>
  </li>
</ul>
</div>
</nav>