<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="Images/grid-alt-regular-24.png">
    <title>EMS Dashboard</title>
    <!--Drop Down Sidebar Menu-->
    <link rel="stylesheet" href="css/navbar.css">
    <!--Dashboard-->
    <link rel="stylesheet" href="css/dashboard.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
{{> header}}
<section class="home-section">
    <div class="home-content">
        <span class="text">DASHBOARD</span>
        <a href="/manageuser" class="user_box">
            <span class="text">EMPLOYEE</span>
            <i class='bx bx-user'></i>
        </a>
        <a href="/department" class="dept_box">
            <i class='bx bx-desktop'></i>
            <span class="text">DEPARTMENT</span>
        </a>
        <a href="/salary" class="leave_box">
            <i class='bx bxs-wallet-alt'></i>
            <span class="text">Salary</span>
        </a>
    </div>
</section>
<script src="js/navbar.js"></script>
</body>
</html>
