<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <!--Login and Registration Form in HTML & CSS -->
  <link rel="stylesheet" href="css/login.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>

<body>
  <div class="container">
    <div class="cover">
      <img src="Images/frontImg.jpg" alt="">
      <div class="text">
        <span class="text-1">Every new friend is a <br> new adventure</span>
        <span class="text-2">Let's get connected</span>
      </div>
    </div>
    <div class="forms">
      <div class="form-content">
        <div class="login-form">
          <div class="title">Login</div>
          <form action="/facelogin">
            <div class="facebutton">
              <button class="face" action="/facelogin">Face Login</button>
            </div>
          </form>
          <form action="\welcome">
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input name="email" id="email" type="text" placeholder="Enter your email" required>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input name="password" id="pass" type="password" placeholder="Enter your password" required>
              </div>
              <div class="button input-box">
                <button class="input" type="submit">Submit</button>
              </div>
            </div>
            {{#if msg}}
            <h3>Incorrect email or password!</h3>
            {{/if}}
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>