<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="Images/code-alt-regular-24.png">
    <title>EMS Welcome</title>
    <!--Drop Down Sidebar Menu-->
    <link rel="stylesheet" href="css/navbar.css">
    <!--Dashboard-->
    <link rel="stylesheet" href="css/dashboard.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
{{> header}}
<section class="home-section">
    <div class="home-content">
        <span class="text">WELCOME!</span>
</section>
<script src="js/navbar.js"></script>
</body>
</html>